body {
    background-color: #1F2937;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    margin: 0;
    padding: 0;
        display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

main {
    width: 80%;
    max-width: 500px;
}

a {
    color: white;
}

.title {
    color: #4ADF86;
    font-size: 40px
}

.subtitle {
    color: #D5D4D8;
    font-size: 20px;
    font-weight: normal;
}

.generate-btn {
    background-color: #10B981;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

.line {
    background-color: #2F3E53;
    height: 2px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.psw-box {
    height: 40px;
    width: 50%;
    background-color: #273549;
    border-radius: 5px;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 1.5em
}

.psw-text {
    color: #55F991;
    font-weight: lighter;
    font-size: 16px;
}